<div class='flex md:flex-row flex-col p-4'>
  <section class='w-full'>
    <header class='text-lg'>
      Members
    </header>

    <div class='mt-4'>
      <ul class='list-reset card-grid'>
        {{#each this.group.members as |member|}}
          <li class='rounded-full shadow hover:shadow-lg bg-white text-center p-4'>
            {{member.name}}
          </li>
        {{else}}
          No members.
        {{/each}}
      </ul>
    </div>
  </section>
</div>