<div class='flex flex-col min-h-screen'>
  <div class='flex p-4 bg-grey-lightest'>
    {{#link-to 'index'}}
      Community Groups
    {{/link-to}}

    <span class='flex-grow'></span>

    {{#if this.sessionService.isAuthenticated}}
      {{#link-to 'manage' class='px-1'}}
        Manage
      {{/link-to}}

      <button class='px-1 text-blue hover:text-blue-dark' onclick={{action 'signout'}}>
        Sign Out
      </button>
    {{else}}
      {{#link-to 'signup' class='px-1'}}
        Sign Up
      {{/link-to}}

      {{#link-to 'signin' class='px-1'}}
        Sign In
      {{/link-to}}
    {{/if}}
  </div>

  {{outlet}}
</div>