
<form class='p-4' onsubmit={{action 'updateGroup' this.group}}>
  <header class='text-lg mb-4'>
    Editing Details
  </header>

  <label
    class='block text-sm mb-2'
    for='group-name'
  >
    Name
  </label>
  {{input
    id='group-name'
    type='text'
    placeholder='Group Name'
    class='shadow appearance-none border rounded py-2 px-3 text-grey-darker'
    value=this.group.name
    oninput=(action (mut this.group.name) value='target.value')
  }}

  <div class='mt-4'>
    <button
      type='submit'
      class='bg-indigo hover:bg-indigo-dark text-white py-2 px-3 rounded'
    >
      Update Group
    </button>
  </div>
</form>