<div class='flex flex-col min-h-screen'>
  <div class='flex p-4'>
    Community Groups
  </div>

  <div class='flex flex-1 flex-col md:flex-row'>
    <div class='flex-none w-full md:max-w-xs p-4 bg-purple text-white'>
      Sidebar
    </div>

    <div class='flex-1 p-4 bg-blue text-white'>
      {{outlet}}
    </div>
  </div>
</div>